@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
:root
{
    --black: #000000;
    --dark: #0f0f0f;
    --light-black: #1e1e1e;

    --darker: #272727;
    --light-dark: #3f3f3f;
    --gray: #3f3f3f;
    
    --primary: var(--green);
    --light-primary: #93de7c13;
    --light-primary2: #7cbade1c;
    --green: #14a800;
    --blue: #2594f4;
    --red: #e5202b;

    --hover: #4545455c;

    --white: #f1f1f1;
    --dark-txt: #a0a5a8;
    --light: #d1d9e6;
    --light-gray: #717171;
}
*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
img
{
    user-select: none;
    -webkit-user-drag: none;
}
body 
{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--dark);
    color: var(--light);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}
::selection 
{
    background: var(--primary-clr);
    color: var(--white-txt);
}
.main 
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 20px 40px;
    background: var(--dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23050505' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23090909' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230e0e0e' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23121212' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23171717' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231c1c1c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23212121' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23272727' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%232c2c2c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23313131' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    isolation: isolate;
    overflow: hidden;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    align-self: flex-start;
}
.logo img
{
    width: 35px;
    margin-right: 10px;
}
.logo h1
{
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--light);
    text-shadow: 0 0 2px var(--light);
}
.logo h1 span
{
    color: var(--primary);
    text-shadow: 0 0 2px var(--primary);
}
.main p
{
    font-size: 15px;
    color: var(--dark-txt);
}
.circle1
{
    position: absolute;
    top: -80px;
    right: -150px;
    width: 300px;
    aspect-ratio: 1;
    border-radius: 100%;
    opacity: 0.5;
    z-index: -1;

    background-color: var(--dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23002e00' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23004900' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23006800' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23008700' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%2314A800' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}


.down
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.buttons
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn 
{
    width: 100%;
    height: 45px;
    background: var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn.outline
{
    background: var(--dark);
    border: 2px solid var(--primary);
    color: var(--primary);
}
h2
{
    font-size: 25px;
    font-weight: 500;
}
h2 span
{
    color: var(--primary);
    text-shadow: 0 0 2px var(--primary);
}

.switch
{
    position: absolute;
    width: 100%;
    height: 0;
    bottom: -100px;
    background: var(--primary);
    z-index: 99999999999999;
}
.switch svg.one
{
    position: absolute;
    top: -84px;
    left: 0;
    width: 100%;
}
.switch svg.two
{
    position: absolute;
    bottom: -84px;
    left: 0;
    width: 100%;
}
.switch.animate
{
    animation: flow 2s ease-in-out;
}

@keyframes flow {
    0% {
        bottom: -100px;
    }
    25% {
        height: 120%;
    }
    50% {
        top: -100px;
    }
    75% {
        height: 0;
    }
}


.login-container,
.signup-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dark);
    top: 0;
    left: 0;
    display: none;
    padding: 25px 20px 100px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23050505' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23090909' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230e0e0e' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23121212' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23171717' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231c1c1c' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23212121' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23272727' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%232c2c2c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23313131' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: 50%;
    background-size: cover;

    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    isolation: isolate;
    overflow: hidden;
}
.login-container.show,
.signup-container.show
{
    display: flex;
}
.top
{
    width: 100%;
}
.back-btn
{
    font-size: 22px;
    align-self: flex-start;
    border-radius: 100%;
    padding: 10px;
    background: var(--hover);
    color: var(--primary);
    cursor: pointer;
}
h3
{
    margin-top: 20px;
    font-size: 40px;
    color: var(--primary);
    text-align: center;
}
.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputs
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-field
{
    position: relative;
    width: 100%;
    height: 45px;
    backdrop-filter: blur(15px);
    overflow: hidden;
}
.input-field input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid var(--gray);
    padding: 0 50px;
    color: var(--white);
    font-size: 15px;
}
.input-field ion-icon
{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: var(--dark-txt);
}
.submit-btns
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn.google
{
    background: var(--blue);
    position: relative;
    color: var(--white);
    font-weight: 400;
    text-transform: none;
    border-radius: 30px;
}
.btn.google img
{
    position: absolute;
    width: 37px;
    background: var(--white);
    border-radius: inherit;
    padding: 7px;
    left: 5px;
}
.or
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    user-select: none;
}
.or .line
{
    width: calc(100% - 50px);
    height: .1px;
    background: var(--light-gray);
}
.or p
{
    font-size: 13px;
    background: var(--dark);
    color: var(--dark-txt);
    padding: 0 10px;
}


.password i 
{
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2em;
    z-index: 999999;
    cursor: pointer;
    color: var(--dark-txt);
    display: grid;
    place-items: center;
}

.email i 
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    visibility: hidden;
}
.email.success i.fa-check-circle 
{
    visibility: visible;
    color: var(--primary);
}
.email.error i.fa-exclamation-circle 
{
    visibility: visible;
    color: #ff0000;
}