@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root
{
    --black: #000000;
    --dark: #0f0f0f;
    --light-black: #1e1e1e;

    --darker: #272727;
    --light-dark: #3f3f3f;
    --gray: #3f3f3f;
    
    --primary: var(--green);
    --light-primary: #93de7c13;
    --light-primary2: #7cbade1c;
    --green: #14a800;
    --blue: #2594f4;
    --red: #e5202b;

    --hover: #4545455c;

    --white: #f1f1f1;
    --dark-txt: #a0a5a8;
    --light: #d1d9e6;
    --light-gray: #717171;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    user-select: none;
    /* outline: 1px dashed red; */
}
body
{
    width: 100%;
    background: var(--dark);
    color: var(--white);
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 48;
    user-select: none;
}
::selection
{
    background: var(--primary);
    color: var(--light);
}
img
{
    user-select: none;
    -webkit-user-drag: none;
}
a
{
    text-decoration: none;
    color: currentColor;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
{ 
    display: none; 
}
/* ========================================= SCROLLBAR ========================================= */
::-webkit-scrollbar
{
    width: 14px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background: var(--light-gray);
    border: 4px solid var(--dark);
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--light-gray);
}
/* ========================================= LOGIN PAGE ========================================= */




















.loader
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--dark);
    z-index: 99999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .9s ease;
}
.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 1.8s;
    animation-timing-function: linear;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
    stroke-dashoffset: 0;
  }
  
  .pl__tick {
    animation-name: tick42;
    stroke-dashoffset: 0;
  }

  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes ringStroke42 {
    
  0%{
    stroke-dashoffset: 452.39;
  }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes tick42 {
    from,
      3%,
      47%,
      to {
      stroke-dashoffset: -12;
    }
  
    14%,
      36% {
      stroke-dashoffset: 0;
    }
  }

 













.form-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form
{
    width: 550px;
    height: 500px;
    max-height: 100%;
    background: var(--dark);
    border-radius: 10px;
    border: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    display: none;
}
.form.open
{
    display: flex;
}
.form h1
{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.form-field
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-field .flex
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.input-field
{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-field input
{
    width: 100%;
    height: 100%;
    background: var(--dark);
    border: 1px solid var(--gray);
    outline: none;
    padding: 0 20px;
    padding-left: 45px;
    border-radius: 30px;
    font-size: 13px;
    color: var(--white);
}
.input-field ion-icon
{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--dark-txt);
}
.input-field .btn
{
    width: 100%;
    height: 100%;
    background: var(--primary);
    color: var(--white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.input-field .btn.outline
{
    width: 200px;
    background: var(--dark);
    border: 2px solid var(--primary);
    color: var(--primary);
}
.or,
.or2
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    margin: 30px;
}
.or .line
{
    width: calc(100% - 50px);
    height: .5px;
    background: var(--light-gray);
}
.or2 .line
{
    width: calc(100% - 340px);
    height: .5px;
    background: var(--light-gray);
}
.or p,
.or2 p
{
    font-size: 14px;
    background: var(--dark);
    color: var(--light-gray);
    padding: 0 10px;
}
.google-login
{
    width: 100%;
    height: 100%;
    background: #4285F4;
    padding: 4px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.google-login img
{
    height: 100%;
    padding: 7px;
    aspect-ratio: 1;
    background: var(--white);
    border-radius: inherit;
}
.google-login p
{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========================================= NAVBAR ========================================= */
.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 0 50px 0 30px;
    background: var(--dark);
    border-bottom: 1px solid var(--darker);
    transform: translateY(0);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.logo img
{
    width: 35px;
    margin-right: 10px;
}
.logo h1
{
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--light);
    text-shadow: 0 0 1px var(--light);
}
.logo h1 span
{
    color: var(--primary);
    text-shadow: 0 0 1px var(--primary);
}
.logo h1 sup
{
    color: var(--dark-txt);
    font-weight: 200;
    font-size: 12px;
    text-shadow: none;
}
.navbar .right
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.navbar .right img
{
    width: 37px;
    border-radius: 100%;
    cursor: pointer;
}
.navbar .right ion-icon
{
   font-size: 24px;
   border-radius: 100%;
   padding: 8px;
   cursor: pointer;
}
.navbar .right ion-icon:active
{
   background: #3f3f3f89;
}
.notifications
{
    position: relative;
    display: grid;
    place-items: center;
}
.notification
{
    position: absolute;
    top: 0;
    right: 5px;
    background: red;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 100%;
    font-size: 10px;
    display: grid;
    place-items: center;
}
.navbar .search
{
    position: relative;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .search input
{
    width: 100%;
    height: 100%;
    margin: 4px 0;
    padding: 0 45px 0 15px;
    font-size: 14px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-dark);
    transition: 0.25s ease;
    border-radius: 6px;
    border: 1px solid var(--light-dark);
    color: var(--light-txt);
}
.search input:focus
{
    border: 1px solid var(--light-gray);
}
.navbar .search ion-icon
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100%;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: grid;
    place-items: center;
    color: var(--dark-txt);
}
.navbar .search .back-icon
{
    left: 0;
    display: none;
}
.navbar .search .cancel-search {
    display: none;
}
.profile
{
    opacity: 0;
    transform: translateY(-20px);
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 300px;
    height: max-content;
    background: #181818;
    box-shadow: 2px 2px 6px #000;
    border-radius: 10px;
    z-index: 9999999999;
    padding: 15px;
    transition: all 0.2s ease;
    pointer-events: none;
    height: max-content;
}
.profile.show
{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.personal
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar .right .personal img
{
    width: 50px;
}
.personal h2
{
    font-size: 18px;
    font-weight: 400;
}
.personal p
{
    font-size: 12px;
    color: var(--dark-txt);
}
.profile .line
{
    width: 100%;
    height: 0.5px;
    margin: 12px 0;
    background: var(--darker);
}
.profile ul
{
    width: 100%;
    list-style: none;
}
.profile ul li
{
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: unset;
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.profile ul li:hover
{
    background: var(--hover);
}
.navbar .right .profile span
{
    font-weight: 300;
    font-variation-settings: 'FILL' 1;
    font-size: 25px;
    margin-right: 10px;
}
.profile ul li ion-icon
{
    margin-right: 10px;
    font-size: 23px;
    padding: 7px;
}
.navbar .right .profile ion-icon:hover
{
    background: transparent;
}
.profile .filter
{
    width: 100%;
    height: 40px;
    background: var(--dark);
    display: flex;
    border-radius: 5px;
    position: relative;
}
.profile .filter div
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    user-select: none;
    cursor: pointer;
}
.profile div p
{
    position: relative;
    z-index: 99;
}
.profile .marker
{
    position: absolute;
    width: 45%;
    height: 75%;
    background: var(--darker);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: inherit;
    transition: all 0.4s ease;
}
.edit-profile
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 10px 0;
    color: var(--primary);
    cursor: pointer;
}
.edit-profile:hover
{
    background: var(--light-primary);
}
/* =================================== MOBILE PROFILE =================================== */
.mobile-profile
{
    opacity: 1;
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--dark);
    box-shadow: 2px 2px 6px #000;
    border-radius: 10px;
    z-index: 9999999999;
    padding: 15px;
    transition: all 0.25s ease-out;
    display: none;
}
.mobile-profile.show
{
    right: 0;
}
.personal
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.personal img
{
    width: 50px;
}
.personal h2
{
    font-size: 20px;
    font-weight: 400;
}
.mobile-profile .personal p
{
    font-size: 14px;
    color: var(--dark-txt);
}
.mobile-profile .line
{
    width: 100%;
    height: 0.5px;
    margin: 12px 0;
    background: var(--darker);
}
.mobile-profile ul
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
}
.mobile-profile ul li
{
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    letter-spacing: unset;
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--light);
}
.mobile-profile span
{
    font-weight: 300;
    font-variation-settings: 'FILL' 1;
    font-size: 25px;
    margin-right: 15px;
}
.mobile-profile ul li ion-icon
{
    margin-right: 10px;
    font-size: 23px;
    padding: 7px;
    color: var(--dark-txt);
}
.mobile-profile .filter
{
    width: 100%;
    height: 45px;
    background: var(--black);
    display: flex;
    border-radius: 5px;
    position: relative;
}
.mobile-profile .filter div
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}
.mobile-profile div p
{
    color: var(--light);
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 5px;
}
.mobile-profile div p ion-icon
{
    font-size: 18px;
}
.mobile-profile .marker
{
    position: absolute;
    width: 45%;
    height: 75%;
    background: var(--darker);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: inherit;
    transition: all 0.3s ease;
}
.edit-profile
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 15px 0;
    color: var(--primary);
    background: var(--light-primary);
    cursor: pointer;
}
.close-profile
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.close-profile ion-icon
{
    font-size: 30px;
    border-radius: 100%;
    padding: 5px;
    background: var(--hover);
    cursor: pointer;
}
/* ========================================= SIDEBAR ========================================= */
.sidebar
{
    position: fixed;
    top: 56px;
    left: 0;
    width: 240px;
    height: calc(100% - 56px);
    background: var(--dark);
    border-right: 1px solid var(--darker);
    overflow: auto;
    padding: 13px 12px;
    overscroll-behavior: contain;
}
.sidebar::-webkit-scrollbar-thumb
{
    background: transparent;
}
.sidebar:hover::-webkit-scrollbar-thumb
{
    background: var(--light-gray);
}
.sidebar ul
{
    width: 100%;
    list-style: none;
}
.sidebar ul li
{
    width: 100%;
    font-size: 15.5px;
    border-radius: 5px;
    letter-spacing: unset;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.sidebar ul li a
{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    user-select: none;
}
.sidebar ul li:hover
{
    background: var(--hover);
}
.sidebar ul li.active
{
    background: var(--hover);
}
.sidebar ul li.active ion-icon
{
    color: var(--white);
}
.sidebar ul li img,
.sidebar ul li ion-icon
{
    color: var(--dark-txt);
    margin-right: 24px;
    font-size: 25px;
    font-weight: 100;
}
.sidebar .line
{
    width: 100%;
    height: 0.5px;
    margin: 12px 0;
    background: var(--darker);
}
.sidebar h3
{
    color: var(--white-clr);
    font-size: 16px;
    margin: 19px 0 6px 12px;
    font-weight: 400;
}
.sidebar img
{
    width: 27px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right: 24px;
}
.sidebar .credit
{
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--dark-txt);
    margin-right: 4px;
}
.sidebar .credit:hover
{
    color: var(--primary);
}
.sidebar p
{
    font-size: 11px;
    color: var(--light-txt);
    text-align: center;
}
/* ========================================= SELECTOR ========================================= */
.selector
{
    position: fixed;
    top: 56px;
    left: 240px;
    width: calc(100% - 240px);
    height: 56px;
    background: var(--dark);
    border-bottom: 1px solid var(--darker);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    user-select: none;
    padding: 0 10px;
}
.selector i
{
    width: 40px;
    height: 40px;
    background: var(--darker);
    color: var(--white);
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 5px;
}
.selector i:hover
{
    background: var(--light-dark);
}
.selector i:active
{
    transform: scale(0.9);
}
.selector .tabs-box
{
    display: flex;
    list-style: none;
    width: 95%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.tabs-box::-webkit-scrollbar
{
    height: 0;
    width: 0;
}
.tabs-box .tab
{
    padding: 6px 17px;
    font-size: 14px;
    margin: 12px 12px 12px 0;
    border-radius: 5px;
    background: var(--darker);
    white-space: nowrap;
    cursor: pointer;
}
.tabs-box .tab:active
{
    background: var(--light-dark);
}
.tabs-box .tab.active
{
    background: var(--light);
    color: var(--black);
    box-shadow: 2px 2px 3px var(--black);
}
.tabs-box.dragging
{
    scroll-behavior: auto;
}
/* ========================================= MAIN ========================================= */
.main
{
    width: 100%;
    max-width: 2250px;
    height: 100%;
    padding: 140px 20px 30px 270px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 30px;
}
.main .box
{
    --grid: 4;
    width: calc(100% / var(--grid) - 16px - 0.01px);
    aspect-ratio: 16/12;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.box .img-wrapper
{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: inherit;
    overflow: hidden;
}
.box .img-wrapper img
{
    height: 100%;
}
.box .line
{
    width: 100%;
    height: 0.5px;
    background: var(--darker);
}
.box .tags
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.box .tags .tag
{
    font-size: 11px;
    padding: 2px 8px;
    border-radius: 10px;
    color: #000;
    user-select: none;
    background: var(--clr);
}
.box .info
{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}
.box .info .top
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box .info img
{
    width: 40px;
    border-radius: 100%;
}
.box .info
{
    display: flex;
    flex-direction: column;
}
.box .info h3
{
    font-size: 14px;
    font-weight: 500;
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    transition: all 0.3s ease;
}
.box .info p
{
    width: 100%;
    padding-left: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #a5a5a5;
}
.box .info p span.verified
{
    font-size: 15px;
    margin: 0 3px;
    font-variation-settings: 'FILL' 1;
    color: #2594f4;
}
.main .post
{
    width: 95%;
    --grid: 3;
    width: calc(100% / var(--grid) - 16px - 0.01px);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    user-select: none;
    background: var(--dark);
    box-shadow:  2px 2px 3px #000000,
             -2px -2px 3px #2b2b2b;
    padding: 10px;
}
.post .top
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .top .save 
{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.save ion-icon
{
    font-size: 27px;
    color: var(--dark-txt);
}
.save ion-icon.add
{
    animation: add 0.3s ease;
}
@keyframes add {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
.post .top .info
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.post .top .img-wrapper
{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--light-black);
}
.post .top .img-wrapper img
{
    height: 100%;
}
.title h3
{
    font-size: 13px;
    color: var(--dark-txt);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 3px;
}
.title h3 span
{
    color: var(--light-gray);
}
.title h2
{
    font-size: 16px;
    color: var(--white);
    font-weight: 600;
}
.title h4
{
    font-size: 12px;
    color: var(--light-gray);
    font-weight: 400;
}
.tags
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tags .tag
{
    font-size: 12px;
    padding: 5px 15px;
    background: var(--darker);
    border-radius: 5px;
}
.text
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.wage
{
    background: var(--hover);
    color: var(--primary);
    height: 100%;
    padding: 0 10px;
    display: grid;
    place-items: center;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 500;
}
.post .text p
{
    font-size: 13px;
    color: var(--light);

    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.post h3 .name 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post span.verified
{
    font-size: 15px;
    margin: 0 0 0 3px;
    font-variation-settings: 'FILL' 1;
    color: #2594f4;
}



.main .ads
{
    width: 95%;
    --grid: 3;
    width: calc(98% / var(--grid) - 16px - 0.01px);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    box-shadow:  2px 2px 3px #000000;
    position: relative;
    isolation: isolate;
}
.ads .ads-box
{
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 15px;
}
.ads-box::-webkit-scrollbar
{
    display: none;
}
.ads .dots 
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999;
}
.dots .dot 
{
    width: 8px;
    aspect-ratio: 1;
    background: var(--white);
    border-radius: 100%;
    box-shadow: 0 0 10px #000000;
    transition: all 0.3s ease;
}
.dots .dot.active 
{
    background: var(--primary);
}
.ads .ad 
{
    min-width: 100%;
    height: 165px;
    background: var(--darker);
    scroll-snap-align: end;
    border-radius: 5px;
    display: flex;
    padding: 15px;
}
.ad .left
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.ad .left .text
{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 7px;
}
.ad h2
{
    width: 120%;
    font-size: 19px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
}
.ad p
{
    font-size: 11.5px;
    color: var(--light);
    line-height: 14px;
}
.ad .btn
{
    background: var(--primary);
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.ad .right
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}
.ad .right img
{
    height: 60%;
    filter: drop-shadow(1px 1px 3px #000);
}
/* ========================================= MOBILE NAV ========================================= */
.mobile-nav
{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--dark);
    z-index: 9999;
    box-shadow: 0 -1px 5px #000000;
}
.mobile-nav .menu
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.mobile-nav .menu li a 
{
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 300;
    gap: 2px;
}
.mobile-nav .menu li a ion-icon
{
    font-size: 22px;
}
.mobile-nav .menu li a ion-icon.center
{
    font-size: 60px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.mobile-nav .menu li a ion-icon.center.active
{
    color: var(--light-gray);
    transform: rotate(225deg) scale(0.9);
}
.navbar .right ion-icon.none
{
    display: none;
}
.search-results
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--dark);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    padding: 60px 0 0;
    overscroll-behavior: contain;
}
.search-results.open 
{
    opacity: 1;
    pointer-events: all;
}
.search-results ul
{
    list-style: none;
    width: 100%;
    height: 100%;
}
.search-results ul li
{
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 20px;
    font-size: 15px;
    padding-right: 50px;
    padding-left: 10px;
    height: 55px;
    position: relative;
    cursor: pointer;
    color: var(--light);
}
.search-results ul li .title 
{
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.search-results ul li span
{
    font-size: 30px;
}
.search-results ul li span.type-in
{
    position: absolute;
    right: 10px;
}
.search-results ul li:active
{
    background: var(--hover);
}

@media (max-width: 1275px) {
    .main .post,
    .main .ads {
        --grid: 2;
    }
}
@media (max-width: 950px) {
    .main .post,
    .main .ads {
        --grid: 1;
    }
}
@media (max-width: 700px) {
    .main .box {
        --grid: 1;
    }
    .mobile-nav {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .main {
        padding-left: 0;
    }
    .selector {
        left: 0;
        width: 100%;
    }
    .logo h1 {
        font-size: 20px;
        letter-spacing: 0;
    }
    .logo img {
        width: 35px;
    }
    .navbar .search {
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark);
        z-index: 999;
        pointer-events: none;
    }
    .navbar .search.open {
        opacity: 1;
        pointer-events: all;
    }
    .navbar .search input {
        padding: 0 50px 0 50px;
        border: none;
    }
    .navbar .search ion-icon {
        display: none;
    }
    .navbar .search .back-icon {
        display: block;
    }
    .navbar .search .cancel-search {
        font-size: 23px;
        pointer-events: none;
    }
    .navbar .search .cancel-search.open {
        display: block;
        pointer-events: all;
    }
    .navbar {
        padding: 0 10px;
    }
    .navbar .right {
        gap: 15px;
    }
    .navbar .right img {
        width: 35px;
    }
    .navbar .right ion-icon {
        font-size: 22px;
    }
    .navbar .right .search-icon {
        display: block;
    }
    .selector i {
        display: none;
    }
    .selector .tabs-box {
        width: 100%;
    }
    .main {
        padding: 0;
        padding-top: 135px;
        padding-bottom: 80px;
    }
    .main .box {
        width: 100%;
        aspect-ratio: 0;
        height: auto;
        gap: 10px;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
    .profile {
        display: none;
    }
    .mobile-profile {
        display: block;
    }
}
















.main.messages
{
    padding-top: 130px;
    gap: 5px;
}
.main.messages h1
{
    position: fixed;
    left: 0;
    top: 56px;
    font-size: 26px;
    width: 100%;
    text-align: center;
    background: var(--dark);
    padding: 15px 0;
    z-index: 9;
}
.main.messages .message-box
{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border-bottom: 1px solid var(--darker);
    padding: 0 20px;
}
.message-box img
{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
}
.message-box .info
{
    display: flex;
    gap: 20px;
}
.message-box .info h3
{
    font-size: 17px;
    font-weight: 300;
    color: var(--white);
}
.message-box .info p
{
    font-size: 13px;
    font-weight: 300;
    color: var(--dark-txt);
}
.message-box .info .stats
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-box .img-box
{
    position: relative;
}
.message-box .img-box::after
{
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 12px;
    aspect-ratio: 1;
    background: var(--green);
    border: 3px solid var(--dark);
    border-radius: 100%;
}















.chat 
{
    width: 100%;
    height: 100%;
}
.chat .top
{
    position: fixed;
    background: var(--dark);
    z-index: 99;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 1px 1px 3px #000;
}
.chat .top a
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat .top .call-icons
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.chat .top .call-icons ion-icon
{
    color: var(--primary);
    background: var(--hover);
    padding: 10px;
    border-radius: 100%;
}
.chat .top ion-icon
{
    font-size: 20px;
}
.chat .top img
{
    width: 35px;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
}
.chat .top .info
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat .top .info h3
{
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}
.chat .top .info p
{
    font-size: 11px;
    font-weight: 300;
    color: var(--dark-txt);
}
.chat .top .info .stats
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chat .top .img-box
{
    position: relative;
}














.chat-area
{
    position: relative;
    height: calc(100% - 170px);
    overflow-y: auto;
    padding: 60px 15px 60px;
    background: var(--dark);
}
.chat-area::-webkit-scrollbar
{
    width: 0;
}
.chat-area .text
{
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    transform: translate(-50%, -50%);
}
.chat-area .chat
{
    margin: 15px 0;
}
.chat-area .chat p
{
    word-wrap: break-word;
    padding: 10px 16px;
    font-size: 14px;
}
.chat-area .outgoing
{
    display: flex;
}
.chat-area .outgoing .details
{
    margin-left: auto;
    max-width: calc(100% - 80px);
}
.outgoing .details p
{
    background: var(--primary);
    color: var(--white-txt);
    border-radius: 15px 15px 5px 15px;
}
.chat-area .incoming
{
    display: flex;
    align-items: flex-end;
}
.chat-area .incoming .profile-img
{
    height: 35px;
    width: 35px;
    border-radius: 100%;
}
.chat-area .incoming .details
{
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 80px);
}
.incoming .details p
{
    background: var(--darker);
    color: var(--white-txt);
    border-radius: 15px 15px 15px 5px;
}
.img-chat.incoming img
{
    width: 250px;
    border-radius: 10px 10px 10px 0;
    margin-left: 10px;
}
.chat-time
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    user-select: none;
}
.chat-time .line
{
    width: calc(100% - 50px);
    height: .1px;
    background: var(--light-gray);
}
.chat-time p
{
    font-size: 13px;
    background: var(--dark);
    color: var(--dark-txt);
    padding: 0 10px;
}
.emoji.chat .details p
{
    background: var(--dark);
    font-size: 35px;
}








.chat .bottom
{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    height: 56px;
    background: var(--light-black);
    box-shadow: 1px 1px 3px #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.bottom .type
{
    width: 90%;
    height: 50px;
    background: var(--black-bg);
    border-radius: 10px;
    position: relative;
}
.bottom .type input
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 80px 0 10px;
    border-radius: 10px;
    background: var(--black-bg);
    color: var(--white-txt);
    border: none;
    outline: none;
    font-size: 16px;
}
.bottom .type .icons
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}
.bottom .type .icons ion-icon
{
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.bottom .type .send-btn
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    display: none;
    pointer-events: none;
    background-image: linear-gradient(90deg, #35ab07, #28f405);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.bottom .type .send-btn.open 
{
    pointer-events: all;
    display: block;
}