@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px dashed red; */
    color-scheme: dark;
}
:root
{
    --dark: #202020;
    --gray: #3f3f3f;
    --color1: #181818;

    --primary: #e5202b;

    --light-gray: #8d8d8d;
    --white: #313131;
    --light: #d3d3d3;




    --black: #ececec;
    --title-color: #c9c9c9;
    --text-color: #a3a3a3;
    --body-color: #202020;

    --box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.3);


}
.light-theme
{
    --dark: #202020;
    --gray: #3f3f3f;

    --primary: #e5202b;

    --light-gray: #8d8d8d;
    --white: #f3f3f3;
    --light: #d3d3d3;




    --black: #181818;
    --title-color: #333333;
    --text-color: #757575;
    --body-color: #ebebeb;

    --selection: #b6b6b69e;
    --box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);

}
.material-symbols-outlined 
{
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/* =================================== SELECTION =================================== */
::selection
{
    background: #46464677;
}
/* :focus
{
    outline: 2px solid var(--primary);
    outline-offset: 10px;
} */
/* =================================== SCROLLBAR =================================== */
::-webkit-scrollbar 
{
    width: 15px;
    height: 1em;
}
::-webkit-scrollbar-track
{
    background: transparent;
    padding: 5px;
}
::-webkit-scrollbar-thumb
{
    background: var(--light-gray);
    border: 5px solid var(--dark);
    border-radius: 15px;
}
body
{
    background: var(--body-color);
    color: var(--title-color);
    overflow-x: hidden;
}
body.overflow
{
    overflow: hidden;
}
a,
img
{
    user-select: none;
    -webkit-user-drag: none;
}
b
{
    color: var(--light);
}
.main-container
{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
section
{
    padding: 6rem 0 2rem;
    margin-bottom: 4.5rem;
}

h1,h2,h3
{
    font-weight: 600;
}
.section-title
{
    color: var(--title-color);
    font-size: 2.25rem;
    font-weight: 600;
}
.section-subtitle
{
    color: var(--text-color);
    font-size: .875rem;
    margin-bottom: 4rem;
}
.section-title,
.section-subtitle
{
    display: block;
    text-align: center;
}
.grid
{
    display: grid;

}
.to-top
{
    position: fixed;
    bottom: -100%;
    right: 20px;
    background: var(--primary);
    color: var(--black);
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    transition: bottom 0.2s ease;
    z-index: 99;
}
.to-top.scrolled
{
    bottom: 20px;
}
/* =================================== ALERT MESSAGE =================================== */
.alert
{
    background: var(--light);
    padding: 20px 40px;
    min-width: 350px;
    position: fixed;
    right: 0;
    top: 90px;
    border-radius: 5px;
    border-left: 8px solid #0bc002;
    z-index: 999999;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    color: var(--white);
    user-select: none;
}
.alert.showAlert
{
    opacity: 1;
    pointer-events: auto;
}
.alert.show
{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide 
{
    0%
    {
        transform: translateX(100%);
    }
    40%
    {
        transform: translateX(-10%);
    }
    80%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-10px);
    }
}
.alert.hide
{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide 
{
    0%
    {
        transform: translateX(-10px);
    }
    40%
    {
        transform: translateX(0%);
    }
    80%
    {
        transform: translateX(-10%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.alert .fa-check-circle
{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #0bc002;
    font-size: 1.5em;
}
.alert .msg
{
    padding: 0 20px;
    font-size: 1em;
}
.alert .close-btn
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #0bc002;
    padding: 20px 18px;
    cursor: pointer;
}
.alert .close-btn .fa-times
{
    color: var(--body-color);
    font-size: 1.5em;
}
/* =================================== HAMBURGER =================================== */
.hamburger-menu
{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 15px;
    background: var(--color1);
    backdrop-filter: blur(10px);
    z-index: 999;
    transition: right 0.6s ease-in-out;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overscroll-behavior: contain;
}
.hamburger-menu.open
{
    right: 0;
}
.hamburger-menu ul
{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hamburger-menu ul li
{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu ul li a
{
    position: relative; 
    display: inline-block;
    text-decoration: none;
    color: var(--gray);
    text-align: center;
    letter-spacing: 3px;
    font-size: 2.3em;
    font-weight: 700;
    transition: all 0.3s ease;
}
.hamburger-menu ul li a::before
{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-radius: 6px;
    background: var(--black);
    opacity: 0.7;
    transition: width .8s cubic-bezier(.16,1.08,.38,.98);
}
.hamburger-menu ul li a:hover::before
{
    width: 130%;
}
.hamburger-menu ul li a:hover
{
    color: var(--light);
}




.hamburger-menu.open li 
{
    animation: animate 350ms ease calc(var(--i) * 100ms + 300ms) both;
}
  
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(4em);
    }
    100% {
        opacity: 1;
    }
}
/* =================================== NAVBAR =================================== */
header
{
    background-color: var(--body-color);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: box-shadow 0.2s ease-in-out;
    padding: 0 40px;
}
.navbar
{
    height: 70px;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease-in-out;
}
header::before
{
    content: "";
    inset: 0;
    position: absolute;
    z-index: 9999;
    box-shadow: 1px 1px 5px #000;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
}
header.scrolled::before
{
    opacity: 1;
}
.navbar .logo
{
    height: 65%;
}
.logo img
{
    height: 100%;
}
.menu
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.menu li a
{
    font-size: 15px;
    padding: 3px 0;
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}
.menu li a::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    border-radius: 15px;
    transition: width 0.3s ease;
    background: var(--primary);
}
.menu li a:hover::before
{
    width: 100%;
}
.menu li a:hover
{
    color: var(--primary);
}
.menu li a.btn
{
    background: var(--primary);
    color: var(--black);
    padding: 10px 25px;
    border-radius: 10px;
    transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), 
    background-color 350ms cubic-bezier(.165, .84, .44, 1), 
    transform 350ms cubic-bezier(.165, .84, .44, 1);
}
.menu li a.btn:hover
{
    transform: translate(0px, 0px);
    box-shadow: 0 20px 60px 0 rgba(229, 32, 32, 0.36);
}
.menu li a.btn::before
{
    display: none;
}
.hamburger
{
    width: 28px;
    height: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    
}
.hamburger span
{
    position: absolute;
    height: 4px;
    background: var(--primary);
    border-radius: 1px;
    transition: all 0.4s ease;
}
.hamburger span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 43%;
}
.hamburger span:nth-child(2)
{
    top: 0;
    right: 0;
    width: 43%;
}
.hamburger span:nth-child(3)
{
    top: 7.5px;
    left: 0;
    width: 100%;
}
.hamburger span:nth-child(4)
{
    top: 15px;
    left: 0;
    width: 43%;
}
.hamburger span:nth-child(5)
{
    top: 15px;
    right: 0;
    width: 43%;
}

.hamburger.open span
{
    opacity: 0;
}
.hamburger.open span:nth-child(3)
{
    opacity: 1 !important;
    transform: rotate(45deg);
}
.hamburger.open span:nth-child(4)
{
    width: 100%;
    opacity: 1 !important;
    transform: rotate(-45deg) translate(5px, -6px);
}
/* =================================== HOME =================================== */
.section-home
{
    display: grid;
    row-gap: 5.5rem;
}
.home-content
{
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: 95px repeat(2, 1fr);
    padding-top: 5.5rem;
}
.socials
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials a
{
    color: var(--title-color);
    text-decoration: none;
}
.home-content .socials a > *
{
    font-size: 22px;
    transition: all 100ms ease;
}
.home-content .socials a > *:hover
{
    color: var(--primary);
}
.home-title
{
    color: var(--black);
    font-size: 3.25em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    overflow: hidden;
}
.home-title img
{
    width: 45px;
}
.home-title::after 
{
    content: attr(data-shadow);
    position: absolute;
    top: .05em; left: .05em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        #ebe9e0 45%,
        #ebe9e0 55%,
        transparent 0
        );
    background-size: .1em .1em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 45s linear infinite;
}
@keyframes shad-anim 
{
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
}
/* .home-title::before
{
    content: "Petar Plazinić";
    position: absolute;
    inset: 0;
    z-index: 999999;
    color: var(--primary);
    font-size: 1em;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    transition: .6s all 1.7s ease;
}
.home-title:hover::before
{
    height: 100%;
}
.home-title::after
{
    content: "Petar Plazinić";
    position: absolute;
    inset: 0;
    z-index: 9999;
    color: var(--gray);
    font-size: 1em;
    font-weight: 600;
    width: 0%;
    overflow: hidden;
    transition: all 1.7s ease;
}
.home-title:hover::after
{
    width: 100%;
} */
.home-subtitle
{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-left: 80px;
    position: relative;
}
.home-subtitle:before 
{
    background: var(--text-color);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 1rem;
    width: 70px;
}
.home-desc
{
    color: var(--text-color);
    margin-bottom: 3rem;
}
.home-img {
    animation: profile__animate 4s ease-in-out infinite;
    background: url(../img/myimage.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 9px hsla(0,0%,100%,.3);
    height: 300px;
    justify-self: center;
    order: 1;
    width: 300px;
}
pre
{
    justify-self: center;
    width: 250px;
    user-select: none;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    background: #151515;
    padding: 20px 30px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}
.selector
{
    color: var(--primary);
}
.property
{
    color: hsl(183, 70%, 62%);
}
.property + .punctuation
{
    color: hsl(183, 70%, 62%);
}
.punctuation
{
    color: hsl(334, 7%, 95%);
}
pre > *
{
    text-shadow: 0 0 1px currentColor;
}
pre::before,
pre::after
{
    content: "";
    position: absolute;
    border-radius: inherit;
}
pre::before
{
    inset: -0.75rem;
    background: black;
    transform: translateZ(-29px);
    filter: blur(15px);
    opacity: 0.5;
}
pre::after
{
    inset: -1rem;
    background: linear-gradient(45deg, var(--primary), #e5202a62);
    transform: translateZ(-30px);
}
@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 45% 75% 85% 55%/65% 75% 45% 75%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}
.scroll-down a
{
    text-decoration: none;
    color: var(--title-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wheel
{
    animation: scroll 2s ease infinite;;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    30% {
        -webkit-transform: translateY(3.75rem);
        transform: translateY(3.75rem)
    }
}
.btn
{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--primary);
    border-radius: 1rem;
    color: var(--black);
    padding: 1.25rem 2rem;
    text-decoration: none;
    transition: box-shadow 350ms cubic-bezier(.165, .84, .44, 1), 
    background-color 350ms cubic-bezier(.165, .84, .44, 1), 
    transform 350ms cubic-bezier(.165, .84, .44, 1);
}
.btn ion-icon
{
    font-size: 22px;
}
.btn:hover
{
    transform: translate(0px, -5px);
    box-shadow: 0 20px 60px 0 rgba(229, 32, 32, 0.36);
}
.buttons
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.youtube
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.youtube p
{
    font-size: 13px;
    max-width: 170px;
    user-select: none;
}
.play
{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSJub25lIiBkPSJNLTEtMWg1ODJ2NDAySC0xeiIvPjxnPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik00MDUuMiAyMzIuOUwxMjYuOCA2Ny4yYy0zLjQtMi02LjktMy4yLTEwLjktMy4yLTEwLjkgMC0xOS44IDktMTkuOCAyMEg5NnYzNDRoLjFjMCAxMSA4LjkgMjAgMTkuOCAyMCA0LjEgMCA3LjUtMS40IDExLjItMy40bDI3OC4xLTE2NS41YzYuNi01LjUgMTAuOC0xMy44IDEwLjgtMjMuMXMtNC4yLTE3LjUtMTAuOC0yMy4xeiIvPjwvZz48L3N2Zz4=) no-repeat 55% 50%;
    background-size: 45%;
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 50px;
    cursor: pointer;
}
.play:hover .play__progress 
{
    stroke-dashoffset: 0;
}
.play__progress 
{
    stroke-dasharray: 113.09733552923255;
    stroke-dashoffset: 113.09733552923255;
    transition: all .8s cubic-bezier(.77,0,.175,1);
}
/* =================================== ABOUT =================================== */
.about-content
{
    align-items: center;
    column-gap: 4rem;
    grid-template-columns: repeat(2,1fr);
}
.frame 
{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-shadow: inset 0 0 0 20px var(--dark);
    margin: 0 auto;
    height: 450px;
    width: 400px;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}
.frame img 
{  
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.about-box 
{
    background: var(--dark);
    border-radius: 0.75rem;
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
    padding: 1rem 1.25rem;
    text-align: center;
    user-select: none;
}
.about-info 
{
    gap: 0.8rem;
    grid-template-columns: repeat(3,140px);
    margin-bottom: 2rem;
}
.about-box ion-icon
{
    color: var(--primary);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.about-title
{
    font-size: 1rem;
    font-weight: 500;
}
.about-subtitle 
{
    font-size: .7rem;
}
.about-desc
{
    margin-bottom: 2.5rem;
    color: var(--text-color);
}
/* =================================== SERVICES =================================== */
.section-services .wrapper
{
    min-width: 100%;
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    gap: 20px;
    padding-top: 2rem;
}
.wrapper .service
{
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 35px 15px;
    gap: 6px;
    overflow: hidden;
    background: var(--dark);
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
    border-radius: 0.75rem;
}
.service div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.service img
{
    width: 70px;
}
.service h3
{
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 1px;
    color: var(--title-color);
}
.service p
{
    font-size: 15px;
    text-align: center;
    color: var(--text-color);
}
/* =================================== SKILLS =================================== */
.skills-content
{
    align-items: center;
    column-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.3rem;
}
.skills-desc
{
    color: var(--text-color);
}
.skills-info
{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.skill-box 
{
    background: var(--dark);
    border-radius: 0.75rem;
    box-shadow:  2px 2px 0 #0d0d0d,
                -2px -2px 0 #333333;
    padding: 1.5rem 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}
.skill-box img
{
    width: 25px;
    color: var(--primary);
}
/* =================================== PROJECTS =================================== */
.projects
{
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}
.project
{
    background: var(--dark);
    box-shadow:  2px 2px 0 #0d0d0d,
                -2px -2px 0 #333333;
    border-radius: 5px;
    grid-column: span 1;
    position: relative;
    padding: 20px;
    text-decoration: none;
}
.project::before
{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary);
}
.category
{
    color: var(--clr);
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.project .title
{
    color: var(--primary);
    font-size: 27px;
    letter-spacing: .5px;
    font-weight: 500;
    text-decoration: none   ;
    background-image: linear-gradient(var(--primary), var(--primary));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all .4s;
}
.project .title:hover
{
    color: var(--primary);
    background-size: 100% 2px;
}
.project .description
{
    font-size: 13px;
    margin-top: 15px;
    color: var(--text-color);
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.project .img-wrapper
{
    width: 100%;
    aspect-ratio: 1.7643;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
}
.project .img-wrapper img
{
    height: 100%;
    width: 100%;
}
.project .buttons
{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    gap: 10px;
}
.project .buttons .code
{
    text-decoration: none;
    color: var(--light);
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 5px;
    font-size: 22px;
    background: var(--gray);
    transition: background 0.3s ease-in-out;
}
.project .buttons .btn
{
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0;
    border-radius: 7px;
}
.project .buttons .btn:hover
{
    transform: translate(0px, 0px);
    box-shadow: 0 20px 60px 0 rgba(229, 32, 32, 0.36);
}
.project .tags
{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.project .tags .tag
{
    font-size: 12px;
    font-weight: 400;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    user-select: none;
    background: var(--gray);

}
/* =================================== FAQ =================================== */
.section-faq .wrapper
{
    background-color: var(--dark);
    margin-bottom: 20px;
    padding: 13px 30px;
    border-radius: 5px;
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
    user-select: none;
}
.faq-content
{
    grid-template-columns: 350px 1fr;
    gap: 50px;
}
.faq-content .levo
{
    display: grid;
    place-items: center;
}
.faq-content .levo img
{
    width: 300px;
}
.toggle
{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    color: var(--primary);
    font-weight: 300;
    border: none;
    outline: none;
    padding: 15px 0;
    cursor: pointer;
}
.content
{
    position: relative;
    font-size: 15px;
    text-align: start;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
}
.content p
{
    font-weight: 200;
}
.content a
{
    color: var(--primary);
}
/* =================================== CONTACT =================================== */
.contact-content
{
    grid-template-columns: 275px 1fr;
    column-gap: 7rem;
}
.contact-info 
{
    grid-row-gap: 1rem;
    display: grid;
    grid-template-columns: 300px;
    row-gap: 1rem;
}
.contact-card 
{
    background: var(--white);
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    user-select: none;
    text-decoration: none;
}
.contact-card ion-icon
{
    font-size: 25px;
    color: var(--title-color);
}
.contact-card-title
{
    font-weight: 500;
    color: var(--title-color);
    font-size: 1rem;
}
.contact-card-data 
{
    display: block;
    margin-bottom: 0.75rem;
    color: var(--text-color);
    font-size: 0.875rem;
}
.section-contact .right
{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-wrapper .title
{
    width: 100%;
    font-size: 30px;
}
.form-wrapper .title span
{
    font-weight: 200;
}
.form-wrapper .flex
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.form-wrapper .flex .input-field
{
    width: 100%;
    height: 50px;
    position: relative;
}
.form-wrapper .flex .input-field input
{
    width: 100%;
    height: 100%;
    background: var(--body-color);
    outline: none;
    border: none;
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
    color: var(--title-color);
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    overflow: auto;
    transition: all 0.3s ease;
}
.form-wrapper .flex .input-field textarea
{
    width: 100%;
    height: 150px;
    resize: none;
    background: var(--body-color);
    outline: none;
    border: none;
    box-shadow:  2px 2px 0 #0d0d0d,
             -2px -2px 0 #333333;
    color: var(--text-color);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}
input::placeholder,
textarea::placeholder
{
    color: var(--text-color);
    position: relative;
    transition: all 0.3s ease;
    width: fit-content;
}
input:focus::placeholder,
textarea:focus::placeholder
{
    transform: translateY(-40px);
}
.form-wrapper button
{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    text-transform: uppercase;
    padding: 0;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.form-wrapper button:hover
{
    transform: translate(0, 0);
}
.form-wrapper .flex .input-field input#email
{
    padding-right: 40px;
}
.flex .input-field span
{
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-variation-settings: 'FILL' 1;
    display: none;
}
.form-wrapper .flex .input-field span.green
{
    color: #0bc002;
}
.form-wrapper .flex .input-field span.red
{
    color: #ff0000;
}
form.success .flex .input-field span.green
{
    display: block;
}
form.error .flex .input-field span.red
{
    display: block;
}
/*=============================================== FOOTER ============================================*/
.footer
{
    width: 100%;
    height: 225px;
    background: var(--color1);
    color: #fff;
    overflow: hidden;
}
.footer .padding
{
    width: 1070px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 30px 0;
}
.padding .row
{
    display: flex;
    align-items: center;
    gap: 3.5em;
}
.footer .padding h1,
.footer .padding h3
{
    color: #fff;
}
.footer .padding .about
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 500px;
}
.footer .row .about p
{
    text-align: center;
}
.footer .padding .about a
{
    text-decoration: none;
    font-weight: 500;
    color: var(--primary);
}
.footer .padding .about a:hover
{
    text-decoration: underline;
}
.footer .padding .socials
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer .padding .socials .icon-box
{
    display: flex;
    gap: 10px;
}
.footer .padding .socials .icon-box a
{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}
.footer .padding .socials .icon-box i,
.footer .padding .socials .icon-box ion-icon
{
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.footer .padding .socials .icon-box img
{
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.footer .padding .socials .icon-box a:hover
{
    background: var(--primary);
}

/* =================================== FOOTER =================================== */
@media (max-width:1115px) {
    .footer{
        height: max-content !important;
    }
    .footer .padding{
        width: 80% !important;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .footer .padding .row{
        align-items: flex-start;
    }
    
}
@media (max-width:800px) {
    .footer {
        padding-top: 10px;
    }
    .footer .row .about p {
        max-width: 80%;
    }
    .footer .row{
        flex-direction: column;
        align-items: center !important;
    }
    .footer .row .about{
        text-align: center;
    }
    .footer .row .socials{
        text-align: center;
    }
}
@media (max-width: 1100px) {
    pre {
        display: none;
    }
    .navbar {
        height: 60px;
    }
    .main-container {
        padding: 0 30px;
    }
    .menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .hamburger-menu {
        display: flex;
    }
    .home-content {
        grid-template-columns: 10% 1fr;
    }
    .home-img {
        display: none;
    }
    .about-content {
        align-items: center;
        row-gap: 4rem;
        grid-template-columns: 1fr;
    }
    .about-data {
        text-align: center;
    }
    .about-info {
        justify-content: center;
    }
    .frame {
        max-width: 90%;
        padding: 10px;
    }
    .wrapper {
        flex-direction: column;
    }
    .skills-content {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-content {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact-info {
        grid-column-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }
    .faq-content .desno {
        order: 1;
    }
    .faq-content .levo {
        order: 2;
    }
    .faq-content .levo img {
        width: auto;
        height: 250px;
    }
    .faq-content {
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 250px;
    }
    .section-faq .wrapper {
        padding: 10px 15px;
    }
}
@media (max-width: 675px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .cursor {
        display: none !important;
    }
}
@media (max-width: 575px) {
    .youtube p {
        display: none;
    }
}
@media (max-width: 520px) {
    .contact-info {
        grid-column-gap: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .home-title {
        font-size: 2.5em;
    }
    .form-wrapper .flex {
        flex-direction: column;
    }
    .about-info {
        width: 100%;
        grid-template-columns: repeat(3, 31.5%);
        
    }
    .about-box {
        padding: 1rem 0.5rem;
    }
    .frame {
        height: auto;
        width: 100%;
        aspect-ratio: 0.87;
    }
    
}
@media (max-width: 470px) {
    header {
        padding: 0 20px;
    }
    .main-container {
        padding: 0 20px;
    }
    .socials {
        display: none;
    }
    .home-content {
        grid-template-columns: 1fr;
    }
    .skills-info {
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-desc {
        text-align: center;
    }
    .content p {
        font-size: 13.5px;
    }
}